{% extends 'base.html.twig' %}

{% block title %}New Contacts{% endblock %}

{% block body %}
    <h1>Itt tehet fel kérdést</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    {% if success %}
        <script>
            alert('Köszönjük szépen a kérdésedet.\nVálaszunkkal hamarosan keresünk a megado e-mail címen.');
        </script>
    {% endif %}

{% endblock %}
